{% extends 'base.html' %} 
{% block content %}
<div id="borough_detail">
    <h1 class="title">{{ borough.name }} Neighborhoods</h1>

    <div class="detail-cards-container">
        {% for neighborhood in neighborhoods %}
        <div class="card neighborhood-name">
            <a href="{% url 'neighborhood_detail' neighborhood.id %}">
                <img class="neighborhood-image" src="{{ neighborhood.image }}" alt="">
                <br>
                {{ neighborhood.name }}
            </a>
            <br>
            <span id="description">{{ neighborhood.description|slice:150 }}...
                <a href="{% url 'neighborhood_detail' neighborhood.id %}">view more</a>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
    