{% extends 'base.html' %} {% block content %}
<h1 class="title">Boroughs of NYC</h1>
    <div class="cards-container">
        {% for borough in boroughs %}
            <div class="card">
                <a href="{% url 'borough_detail' borough.id%}">
                    <img class="borough-image" src="{{ borough.image }}" alt="">
                </a>
                <h6>
                    <a class="borough-name" href="{% url 'borough_detail' borough.id %}">{{ borough.name }}</a>
                </h6>
            </div>
        {% endfor %}
    </div>
{% endblock %}
    