/* Navbar styling START */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: dodgerblue;
    color: white;
}

/* Navbar styling END */

/***********************************/

/* Homepage Carousel styling START */

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel-picture {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
    border: 2px solid white;
    border-radius: 2px;
}

.carousel-picture.initial,
.carousel-picture.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-picture.prev,
.carousel-picture.next {
    z-index: 800;
}

.carousel-picture.prev {
    transform: translateX(-100%); /* moves the previous item left */
}

.carousel-picture.next {
    transform: translateX(100%); /* moves the next item right */
}

.carousel-button--prev,
.carousel-button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001; /* makes it sit atop everything */
    border: 1px solid black;
}

.carousel-button--prev {
    left: 0;
}

.carousel-button--next {
    right: 0;
}

.carousel-button--prev::after,
.carousel-button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Homepage Carousel styling END */

/***********************************/

/* Boroughs Index Cards styling START */

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    border: 2px solid black;
    border-radius: 2px;
    padding: 0.5rem;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 5px 5px 0 rgba(0,0,0,0.25);
}

.borough-image {
    max-width: 100%;
    max-height: 100%;
}

.borough-name {
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
    color: black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Boroughs Index Cards styling END */

/***********************************/

/* Borough Detail Cards styling START */

.detail-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 50px;
}

.card {
    border: 2px solid black;
    border-radius: 2px;
    padding: 1rem;
    transition: 0.3s; 
}

.card:hover {
    box-shadow: 5px 5px 0 rgba(0,0,0,0.25);
}

.neighborhood-image {
    width: 100%;
    height: 60%;
}

.neighborhood-name {
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
    color: black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#description {
    overflow: scroll;
}

/* Borough Detail Cards styling END */

/***********************************/

/* Neighborhood Fetch styling START */

.neighborhood-fetch-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 50px;
}

.neighborhood-fetch-card {
    border: 2px solid black;
    border-radius: 2px;
    padding: 1rem;
    transition: 0.3s; 
    background-color: white;
}

.neighborhood-fetch-card:hover {
    box-shadow: 5px 5px 0 rgba(0,0,0,0.25);
}

.neighborhood-fetch-image {
    width: 100%;
    height: 50%;
}

.neighborhood-fetch-name {
    text-align: center;
    text-decoration: none;
    color: black;
}

#interest-details {
    align-items: end;
}

/* Neighborhood Fetch styling END */

/***********************************/

/* Interest Fetch styling START */

.interest-fetch-card {
    border: 2px solid black;
    border-radius: 2px;
    padding: 1rem;
    transition: 0.3s; 
    background-color: white;
}

/* Interest Fetch Styling END */

/***********************************/

/* Login styling START */

.login-container {
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    height: 35%;
    width: 40%;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 1%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Login styling END */

/***********************************/

/* Sign Up styling START */

.signup-container {
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    height: 45%;
    width: 55%;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 2%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.helptext {
    display: none;
}

form ul {
    display: none;
}

/* Sign Up styling END */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(36, 101, 223), rgb(147, 172, 216)) 
}

main {
    flex-grow: 1;
}

footer {
    background-color: orange;
    color: white;
    padding-top: 0;
    text-align: right;
}

.title {
    text-align: center;
    margin-top: 2%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* modal form styling */

.modal_area{
    display:flex;
    flex-direction: column;
}

.modal_box{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.modal_form{
    display: flex;
    justify-content: center;
    
}
.delete_review{
    margin-top: 25px;
    margin-left: 18px;
    width: 100%;
}