{% extends 'base.html' %}
{% block content %}
    <div id="neighborhood_fetch">
        <h1 class="title">{{ neighborhood.name}}, {{ neighborhood.borough }}</h1>

        <section id="top_attraction_section">
            <h3 class="title">Top Attractions</h3>
            <hr>
            <div class="neighborhood-fetch-cards-container">
                {% for point_of_interest in points_of_interest %}
                {% if 'tourist_attraction' in point_of_interest.interest_category %}
                <div class="neighborhood-fetch-card">
                    <a href="{% url 'point_of_interest_detail' point_of_interest.id %}" class="neighborhood-fetch-name">
                        <img src="{{ point_of_interest.photo }}" alt="" class="neighborhood-fetch-image">
                        <br>
                        {{ point_of_interest.name }}
                    </a>
                    <br>
                    <div id="interest_details">
                        <span id="address">
                            {{ point_of_interest.address }}
                        </span>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sint accusamus debitis similique voluptatem numquam ipsam impedit voluptatibus fugiat fugit, modi 
                        </p>
                    </div>
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section id="restaurant_section">
            <h3 class="title">Where to Eat</h3>
            <hr>
            <div class="neighborhood-fetch-cards-container">
                {% for point_of_interest in points_of_interest %}
                {% if 'restaurant' in point_of_interest.interest_category %}
                <div class="neighborhood-fetch-card">
                    <a href="{% url 'point_of_interest_detail' point_of_interest.id %}" class="neighborhood-fetch-name">
                        <img src="{{ point_of_interest.photo }}" alt="" class="neighborhood-fetch-image">
                        <br>
                        {{ point_of_interest.name }}
                    </a>
                    <br>
                    <div id="interest_details">
                        <span id="address">
                            {{ point_of_interest.address }}
                        </span>
                        <br>
                        <span id="rating">
                            Rating: {{ point_of_interest.rating }}
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sint accusamus debitis similique voluptatem numquam ipsam impedit voluptatibus fugiat fugit, modi 
                        </p>
                    </div>
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section id="park_section">
            <h3 class="title">Parks</h3>
            <hr>
            <div class="neighborhood-fetch-cards-container">
                {% for point_of_interest in points_of_interest %}
                {% if 'lodging' in point_of_interest.interest_category %}
                <div class="neighborhood-fetch-card">
                    <a href="{% url 'point_of_interest_detail' point_of_interest.id %}" class="neighborhood-fetch-name">
                        <img src="{{ point_of_interest.photo }}" alt="" class="neighborhood-fetch-image">
                        <br>
                        {{ point_of_interest.name }}
                    </a>
                    <br>
                    <div id="interest_details">
                        <span id="address">
                            {{ point_of_interest.address }}
                        </span>
                        <br>
                        <span id="rating">
                            Rating: {{ point_of_interest.rating }}
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sint accusamus debitis similique voluptatem numquam ipsam impedit voluptatibus fugiat fugit, modi 
                        </p>
                    </div>
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section id="places_to_stay_section">
            <h3 class="title">Places to Stay</h3>
            <hr>
            <div class="neighborhood-fetch-cards-container">
                {% for point_of_interest in points_of_interest %}
                {% if 'park' in point_of_interest.interest_category %}
                <div class="neighborhood-fetch-card">
                    <a href="{% url 'point_of_interest_detail' point_of_interest.id %}" class="neighborhood-fetch-name">
                        <img src="{{ point_of_interest.photo }}" alt="" class="neighborhood-fetch-image">
                        <br>
                        {{ point_of_interest.name }}
                    </a>
                    <br>
                    <div id="interest_details">
                        <span id="address">
                            {{ point_of_interest.address }}
                        </span>
                        <br>
                        <span id="rating">
                            Rating: {{ point_of_interest.rating }}
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sint accusamus debitis similique voluptatem numquam ipsam impedit voluptatibus fugiat fugit, modi 
                        </p>
                    </div>
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock content %}
        