{% extends 'base.html' %}
{% block content %}
    <h1>Name: {{ point_of_interest.name }}</h1>
    <h6>Phone Number: {{ point_of_interest.phone_number }}</h6>
    <h6>
        Address: {{ point_of_interest.address }}
    </h6>
    <h6>
        <img src="{{ point_of_interest.photo }}" alt="">
    </h6>
    <h6>
        TYPES: {{ point_of_interest.interest_category}}
            
    </h6>
    <h6>
        ID: {{ point_of_interest.id }}
    </h6>
    <h6>
        Rating: {{ point_of_interest.rating }}
    </h6>
    
    <h3>
        Reviews: 
    </h3>
    <h5>
        {% if reviews in point_of_interest %}
            {% for review in point_of_interest.reviews  %}
            <h6>***********************************</h5>
                <br>
            <div>
                Name: {{ review.author_name }}
                <br>
                Rating: {{ review.rating }}
                <br>
                Review: {{ review.text}}
                <br>
                When: {{ review.relative_time_description }}
            </div> 
            <br>
            {% endfor %}
        {% endif %}
    </h6>
        <div>
            <h6>Description</h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil blanditiis excepturi quae quos, totam reiciendis nulla mollitia repellat voluptas placeat? Quae eveniet amet et voluptatum dolor nam nostrum earum quasi.
            Provident magni voluptatibus aperiam, in ipsam a veritatis cumque eius id sunt ex veniam rerum! Enim, suscipit eveniet animi magnam nam veritatis voluptates in porro commodi temporibus, ipsam vitae tempore.
            Voluptatum omnis vitae beatae voluptate in cum nobis, nulla soluta. Excepturi natus rerum corporis. Ullam fugiat perspiciatis voluptates fuga consequuntur omnis nobis, culpa tempora alias magnam amet optio eum veritatis.
            Quibusdam voluptatum eius illum officia quae. Dolorum quod maiores perspiciatis magnam ratione sint earum ullam aut laboriosam nesciunt, consectetur eum impedit cum unde id aliquid corrupti fugit repellat illum iure?
        </div>
     </b>   
    <br>
    <br>
{% endblock content %}
    