{% extends 'base.html' %}
{% block content %}
<div class="interest-fetch-container">
    <h1 class="title">{{ point_of_interest.name }}</h1>

    <div class="interest-fetch-card">
        <img src="{{ point_of_interest.photo }}" alt="" class="center-image">
        <div style="text-align: center; margin-top: 5px;">
            <h6>{{ point_of_interest.address }}</h6>
        </div>
        <h5><b>Description</b></h5>
        <h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil blanditiis excepturi quae quos, totam reiciendis
            nulla mollitia repellat voluptas placeat? Quae eveniet amet et voluptatum dolor nam nostrum earum quasi.
            Provident magni voluptatibus aperiam, in ipsam a veritatis cumque eius id sunt ex veniam rerum! Enim, suscipit
            eveniet animi magnam nam veritatis voluptates in porro commodi temporibus, ipsam vitae tempore.
            Voluptatum omnis vitae beatae voluptate in cum nobis, nulla soluta. Excepturi natus rerum corporis. Ullam fugiat
            perspiciatis voluptates fuga consequuntur omnis nobis, culpa tempora alias magnam amet optio eum veritatis.
            Quibusdam voluptatum eius illum officia quae. Dolorum quod maiores perspiciatis magnam ratione sint earum ullam
            aut
            laboriosam nesciunt, consectetur eum impedit cum unde id aliquid corrupti fugit repellat illum iure?
        </h6>
    </div>

{% if user.id %}
<div style="text-align: right;">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#itineraryModal" style="margin-right: 10px;">
        Add to Itinerary
    </button>
</div>

<div>
    <div class="modal fade" id="itineraryModal" tabindex="-1" aria-labelledby="itineraryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal_form">
                <div class="col-10 modal_box">
                    <div class="form-group">
                        <ul id="add_itinerary_modal">
                            {% for itinerary in itineraries  %}
                            <form action="{% url 'add_to_itinerary' user.id itinerary.id point_of_interest.id point_of_interest.name %}">
                                <li>
                                    {{itinerary.name}}
                                    <input class='itinerary-btn btn 'type="submit" value="&#43;">
                                </li>
                            </form>
                            {% endfor %}
                        </ul>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<br>
<br>

<div class="reviews-container">
    <h3 class="title">User Reviews</h3>

    <div class="review-button-container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary share-experience" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Share experience
        </button>
    </div>

    <!-- Modal -->
    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal_form">
                    {% if user.id %}
                    <div class="col-10 modal_box">
                        {% if user_review %}
                        <div class="form-group ">
                            <form class="modal_area"
                                action="{% url 'update_review' point_of_interest.id user_review.first.id %}" method="POST">
                                {% csrf_token %}
                                {{ review_form.as_p }}
                                <input type="submit" value="Update review" class="btn btn-primary review_btn">
                            </form>
                        </div>
                        <div class="delete_review">
                            <form action="{% url 'delete_review' point_of_interest.id user_review.first.id  %}"
                                method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Click Me" class="btn btn-primary review_btn">
                                <span> to delete the review </span>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <form action="{% url 'add_review' point_of_interest.id user.id %}" method="POST">
                            {% csrf_token %}
                            {{ review_form.as_p }}
                            <input type="submit" value="Add review" class="btn btn-primary">
                        </form>
                    </div>
                    {% endif %}

                    {% else %}
                    <p>Please login to write or update a review</p>
                    {% endif %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-reviews">
        {% for review in all_reviews  %}

            <p>{{review.user}}</p>
            <p>Rating: {{review.ratings}}</p>
            <p>{{review.description}}</p>

        {% endfor %}
    </div>
</div>

{% endblock content %}
